<div class="w-section secciondatos">
  <div class="faja"><img src="images/fajaaz-01_1.png" class="faja">
  </div>
  <div class="divtxtcategorias">
    <div class="txtcomercio">Comercios de</div>
    <div class="txtcategoria">GASTRONOMIA</div>
    <div class="txtsubcategoria">Bares</div>
  </div>
  <div class="w-row">
    <div class="w-col w-col-2 col1arbol">
      <div class="divarbol">
        <div class="w-clearfix divdatosarbol"><img width="25" src="images/populares-01.png" class="imgiconoarbol"><a href="#" class="linkarbol">Más seguidores</a>
        </div>
        <div class="w-clearfix divdatosarbol"><img width="25" src="images/ultimos-01.png" class="imgiconoarbol"><a href="#" class="linkarbol">Últimos destacados&nbsp;</a>
        </div>
        <div class="w-clearfix divdatosarbol"><img width="25" src="images/nuevoclub-01.png" class="imgiconoarbol"><a href="#" class="linkarbol">Nuevos Clubes</a>
        </div>
        <div class="divisorarbol"></div>
        <div class="w-clearfix divcategoriaarbol"><img width="25" src="images/hogar-01_1.png" class="imgiconoarbol">
          <div data-delay="0" class="w-dropdown dropopcion">
            <div class="w-dropdown-toggle droptoggle">
              <div class="txtdropopcion">CCA</div>
            </div>
            <nav class="w-dropdown-list dropdownlist"><a href="#" class="w-dropdown-link dropdownlink">Bares</a><a href="#" class="w-dropdown-link dropdownlink">Heladerías</a><a href="#" class="w-dropdown-link dropdownlink">Restaurantes</a><a href="#" class="w-dropdown-link dropdownlink">Parrillas</a>
            </nav>
          </div>
        </div>
        <div class="w-clearfix divcategoriaarbol"><img width="25" src="images/gastro-01.png" class="imgiconoarbol">
          <div data-delay="0" class="w-dropdown dropopcion">
            <div class="w-dropdown-toggle droptoggle">
              <div class="txtdropopcion">Gastronomía</div>
            </div>
            <nav class="w-dropdown-list dropdownlist"><a href="#" class="w-dropdown-link dropdownlink">Bares</a><a href="#" class="w-dropdown-link dropdownlink">Heladerías</a><a href="#" class="w-dropdown-link dropdownlink">Restaurantes</a><a href="#" class="w-dropdown-link dropdownlink">Parrillas</a>
            </nav>
          </div>
        </div>
        <div class="w-clearfix divcategoriaarbol"><img width="25" src="images/tecno-01.png" class="imgiconoarbol">
          <div data-delay="0" class="w-dropdown dropopcion">
            <div class="w-dropdown-toggle droptoggle">
              <div class="txtdropopcion">Tecnología</div>
            </div>
            <nav class="w-dropdown-list dropdownlist"><a href="#" class="w-dropdown-link dropdownlink">Bares</a><a href="#" class="w-dropdown-link dropdownlink">Heladerías</a><a href="#" class="w-dropdown-link dropdownlink">Restaurantes</a><a href="#" class="w-dropdown-link dropdownlink">Parrillas</a>
            </nav>
          </div>
        </div>
        <div class="w-clearfix divcategoriaarbol"><img width="25" src="images/indumentaria-01.png" class="imgiconoarbol">
          <div data-delay="200" class="w-dropdown dropopcion">
            <div class="w-dropdown-toggle droptoggle">
              <div class="txtdropopcion">Indumentaria</div>
            </div>
            <nav class="w-dropdown-list dropdownlist"><a href="#" class="w-dropdown-link dropdownlink">Bares</a><a href="#" class="w-dropdown-link dropdownlink">Heladerías</a><a href="#" class="w-dropdown-link dropdownlink">Restaurantes</a><a href="#" class="w-dropdown-link dropdownlink">Parrillas</a>
            </nav>
          </div>
        </div>
        <div class="w-clearfix divcategoriaarbol"><img width="25" src="images/hogar-01.png" class="imgiconoarbol">
          <div data-delay="0" class="w-dropdown dropopcion">
            <div class="w-dropdown-toggle droptoggle">
              <div class="txtdropopcion">Hogar y herramientas</div>
            </div>
            <nav class="w-dropdown-list dropdownlist"><a href="#" class="w-dropdown-link dropdownlink">Bares</a><a href="#" class="w-dropdown-link dropdownlink">Heladerías</a><a href="#" class="w-dropdown-link dropdownlink">Restaurantes</a><a href="#" class="w-dropdown-link dropdownlink">Parrillas</a>
            </nav>
          </div>
        </div>
        <div class="w-clearfix divcategoriaarbol"><img width="25" src="images/vechiculos-01.png" class="imgiconoarbol">
          <div data-delay="0" class="w-dropdown dropopcion">
            <div class="w-dropdown-toggle droptoggle">
              <div class="txtdropopcion">Vehículos</div>
            </div>
            <nav class="w-dropdown-list dropdownlist"><a href="#" class="w-dropdown-link dropdownlink">Bares</a><a href="#" class="w-dropdown-link dropdownlink">Heladerías</a><a href="#" class="w-dropdown-link dropdownlink">Restaurantes</a><a href="#" class="w-dropdown-link dropdownlink">Parrillas</a>
            </nav>
          </div>
        </div>
        <div class="w-clearfix divcategoriaarbol"><img width="25" src="images/diversion-01.png" class="imgiconoarbol">
          <div data-delay="0" class="w-dropdown dropopcion">
            <div class="w-dropdown-toggle droptoggle">
              <div class="txtdropopcion">Espectáculos y cultura</div>
            </div>
            <nav class="w-dropdown-list dropdownlist"><a href="#" class="w-dropdown-link dropdownlink">Bares</a><a href="#" class="w-dropdown-link dropdownlink">Heladerías</a><a href="#" class="w-dropdown-link dropdownlink">Restaurantes</a><a href="#" class="w-dropdown-link dropdownlink">Parrillas</a>
            </nav>
          </div>
        </div>
        <div class="w-clearfix divcategoriaarbol"><img width="25" src="images/estetica-01.png" class="imgiconoarbol">
          <div data-delay="200" class="w-dropdown dropopcion">
            <div class="w-dropdown-toggle droptoggle">
              <div class="txtdropopcion">Estética</div>
            </div>
            <nav class="w-dropdown-list dropdownlist"><a href="#" class="w-dropdown-link dropdownlink">Bares</a><a href="#" class="w-dropdown-link dropdownlink">Heladerías</a><a href="#" class="w-dropdown-link dropdownlink">Restaurantes</a><a href="#" class="w-dropdown-link dropdownlink">Parrillas</a>
            </nav>
          </div>
        </div>
        <div class="w-clearfix divcategoriaarbol"><img width="25" src="images/hoteles-01.png" class="imgiconoarbol">
          <div data-delay="0" class="w-dropdown dropopcion">
            <div class="w-dropdown-toggle droptoggle">
              <div class="txtdropopcion">Hotelería y turismo</div>
            </div>
            <nav class="w-dropdown-list dropdownlist"><a href="#" class="w-dropdown-link dropdownlink">Bares</a><a href="#" class="w-dropdown-link dropdownlink">Heladerías</a><a href="#" class="w-dropdown-link dropdownlink">Restaurantes</a><a href="#" class="w-dropdown-link dropdownlink">Parrillas</a>
            </nav>
          </div>
        </div>
        <div class="w-clearfix divcategoriaarbol"><img width="25" src="images/noche-01.png" class="imgiconoarbol">
          <div data-delay="0" class="w-dropdown dropopcion">
            <div class="w-dropdown-toggle droptoggle">
              <div class="txtdropopcion">Noche</div>
            </div>
            <nav class="w-dropdown-list dropdownlist"><a href="#" class="w-dropdown-link dropdownlink">Bares</a><a href="#" class="w-dropdown-link dropdownlink">Heladerías</a><a href="#" class="w-dropdown-link dropdownlink">Restaurantes</a><a href="#" class="w-dropdown-link dropdownlink">Parrillas</a>
            </nav>
          </div>
        </div>
        <div class="w-clearfix divcategoriaarbol"><img width="25" src="images/deporte-01.png" class="imgiconoarbol">
          <div data-delay="0" class="w-dropdown dropopcion">
            <div class="w-dropdown-toggle droptoggle">
              <div class="txtdropopcion">Deporte y bienestar</div>
            </div>
            <nav class="w-dropdown-list dropdownlist"><a href="#" class="w-dropdown-link dropdownlink">Bares</a><a href="#" class="w-dropdown-link dropdownlink">Heladerías</a><a href="#" class="w-dropdown-link dropdownlink">Restaurantes</a><a href="#" class="w-dropdown-link dropdownlink">Parrillas</a>
            </nav>
          </div>
        </div>
        <div class="w-clearfix divcategoriaarbol"><img width="25" src="images/provisiones-01.png" class="imgiconoarbol">
          <div data-delay="0" class="w-dropdown dropopcion">
            <div class="w-dropdown-toggle droptoggle">
              <div class="txtdropopcion">Provisiones</div>
            </div>
            <nav class="w-dropdown-list dropdownlist"><a href="#" class="w-dropdown-link dropdownlink">Bares</a><a href="#" class="w-dropdown-link dropdownlink">Heladerías</a><a href="#" class="w-dropdown-link dropdownlink">Restaurantes</a><a href="#" class="w-dropdown-link dropdownlink">Parrillas</a>
            </nav>
          </div>
        </div>
        <div class="w-clearfix divcategoriaarbol"><img width="25" src="images/servicios-01.png" class="imgiconoarbol">
          <div data-delay="0" class="w-dropdown dropopcion">
            <div class="w-dropdown-toggle droptoggle">
              <div class="txtdropopcion">Servicios</div>
            </div>
            <nav class="w-dropdown-list dropdownlist"><a href="#" class="w-dropdown-link dropdownlink">Bares</a><a href="#" class="w-dropdown-link dropdownlink">Heladerías</a><a href="#" class="w-dropdown-link dropdownlink">Restaurantes</a><a href="#" class="w-dropdown-link dropdownlink">Parrillas</a>
            </nav>
          </div>
        </div>
        <div class="w-clearfix divcategoriaarbol"><img width="25" src="images/educacion-01.png" class="imgiconoarbol">
          <div data-delay="0" class="w-dropdown dropopcion">
            <div class="w-dropdown-toggle droptoggle">
              <div class="txtdropopcion">Educación</div>
            </div>
            <nav class="w-dropdown-list dropdownlist"><a href="#" class="w-dropdown-link dropdownlink">Bares</a><a href="#" class="w-dropdown-link dropdownlink">Heladerías</a><a href="#" class="w-dropdown-link dropdownlink">Restaurantes</a><a href="#" class="w-dropdown-link dropdownlink">Parrillas</a>
            </nav>
          </div>
        </div>
        <div class="w-clearfix divcategoriaarbol"><img width="25" src="images/eventos-01.png" class="imgiconoarbol">
          <div data-delay="0" class="w-dropdown dropopcion">
            <div class="w-dropdown-toggle droptoggle">
              <div class="txtdropopcion">Eventos</div>
            </div>
            <nav class="w-dropdown-list dropdownlist"><a href="#" class="w-dropdown-link dropdownlink">Bares</a><a href="#" class="w-dropdown-link dropdownlink">Heladerías</a><a href="#" class="w-dropdown-link dropdownlink">Restaurantes</a><a href="#" class="w-dropdown-link dropdownlink">Parrillas</a>
            </nav>
          </div>
        </div>
        <div class="w-clearfix divcategoriaarbol"><img width="25" src="images/salud-01.png" class="imgiconoarbol">
          <div data-delay="0" class="w-dropdown dropopcion">
            <div class="w-dropdown-toggle droptoggle">
              <div class="txtdropopcion">Salud</div>
            </div>
            <nav class="w-dropdown-list dropdownlist"><a href="#" class="w-dropdown-link dropdownlink">Bares</a><a href="#" class="w-dropdown-link dropdownlink">Heladerías</a><a href="#" class="w-dropdown-link dropdownlink">Restaurantes</a><a href="#" class="w-dropdown-link dropdownlink">Parrillas</a>
            </nav>
          </div>
        </div>
        <div class="w-clearfix divcategoriaarbol"><img width="25" src="images/mascotas-01.png" class="imgiconoarbol">
          <div data-delay="0" class="w-dropdown dropopcion">
            <div class="w-dropdown-toggle droptoggle">
              <div class="txtdropopcion">Mascotas</div>
            </div>
            <nav class="w-dropdown-list dropdownlist"><a href="#" class="w-dropdown-link dropdownlink">Bares</a><a href="#" class="w-dropdown-link dropdownlink">Heladerías</a><a href="#" class="w-dropdown-link dropdownlink">Restaurantes</a><a href="#" class="w-dropdown-link dropdownlink">Parrillas</a>
            </nav>
          </div>
        </div>
        <div class="w-clearfix divcategoriaarbol"><img width="25" src="images/bienesraices-01.png" class="imgiconoarbol">
          <div data-delay="0" class="w-dropdown dropopcion">
            <div class="w-dropdown-toggle droptoggle">
              <div class="txtdropopcion">Bienes raíces</div>
            </div>
            <nav class="w-dropdown-list dropdownlist"><a href="#" class="w-dropdown-link dropdownlink">Bares</a><a href="#" class="w-dropdown-link dropdownlink">Heladerías</a><a href="#" class="w-dropdown-link dropdownlink">Restaurantes</a><a href="#" class="w-dropdown-link dropdownlink">Parrillas</a>
            </nav>
          </div>
        </div>
        <div class="w-clearfix divcategoriaarbol"><img src="images/lupa.png" class="imgiconoarbol">
          <div data-delay="0" class="w-dropdown dropopcion">
            <div class="w-dropdown-toggle droptoggle">
              <div class="txtdropopcion">Gastronomía</div>
            </div>
            <nav class="w-dropdown-list dropdownlist"><a href="#" class="w-dropdown-link dropdownlink">Bares</a><a href="#" class="w-dropdown-link dropdownlink">Heladerías</a><a href="#" class="w-dropdown-link dropdownlink">Restaurantes</a><a href="#" class="w-dropdown-link dropdownlink">Parrillas</a>
            </nav>
          </div>
        </div>
        <div class="w-clearfix divcategoriaarbol"><img src="images/lupa.png" class="imgiconoarbol">
          <div data-delay="0" class="w-dropdown dropopcion">
            <div class="w-dropdown-toggle droptoggle">
              <div class="txtdropopcion">Gastronomía</div>
            </div>
            <nav class="w-dropdown-list dropdownlist"><a href="#" class="w-dropdown-link dropdownlink">Bares</a><a href="#" class="w-dropdown-link dropdownlink">Heladerías</a><a href="#" class="w-dropdown-link dropdownlink">Restaurantes</a><a href="#" class="w-dropdown-link dropdownlink">Parrillas</a>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="w-col w-col-10 col2arbol">
      <div class="divpublicidades">
        <ui-view></ui-view>
      </div>
    </div>
  </div>
</div>
