<div data-collapse="medium" data-animation="default" data-duration="400" class="w-nav navbar1">
  <a href="index.html" class="w-nav-brand brand1"><img src="images/logo_1.png">
  </a>
  <div class="divbuscador1"></div>
  <a href="#" class="w-inline-block linkbuscar"></a>
  <nav role="navigation" class="w-nav-menu navmenu1"><a href="app1.html" class="w-nav-link navlink1">Rubros</a><a href="pagina3.html" class="w-nav-link navlink1">Destacados</a><a href="pagina4.html" class="w-nav-link navlink1">Mensajes</a><a href="#" class="w-nav-link navlink1">Favoritos</a>
  </nav>
  <div class="w-nav-button">
    <div class="w-icon-nav-menu"></div>
  </div>
</div>
<ui-view></ui-view>
